* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    width: 10rem;
    margin: 2rem auto;
    margin-bottom: 2vh;
    text-align: center;
}

/* body {
    text-align: center;
} */

.container {
    width: 350px;
    height: 350px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.one,
.four,
.seven {
    border-bottom: 2px solid red;
}

.two,
.five,
.eight {
    border: 2px solid red;
    border-top: none;
}

.three,
.six,
.nine {
    border-bottom: 2px solid red;
}

.seven,
.eight,
.nine {
    border-bottom: none;
}
.controller {
    font-size: 5rem;
}

.start-container {
    padding: 4px;
    margin-top: 1rem;
    text-align: center;
}

.start-btn {
    display: inline-block;
    background-color: rgb(191, 240, 148);
    padding: 5px;
    border-radius: 4px;
    font-size: 1.1rem;
}

.form-container {
    text-align: center;
}

form {
    display: inline-block;
    font-size: 1.4rem;
}

h3 {
    margin-bottom: 1rem;
}
form ul {
    display: flex;
    gap: 1rem;
}

form li {
    list-style-type: none;
}

.win-message {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 1rem 0;
}

label,
input {
    padding: 4px;
}
